#logo-img{
margin-left: 500px;
width: 400px;
text-align: center;
}
#Options-container{
    margin: auto;
    width: 900px;
    padding-bottom: 20px;
    padding-top: 30px;
}
#Search-Character{
    margin-left: 10px;
}
#input-btn{
    margin: 0 7px;
}
#Houses{
    margin-left: 20px;
}
#extra-container{
margin: auto;
width: 900px;
text-align: center;
text-transform: capitalize;
margin-bottom: 20px;
}
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 900px;
    padding-top: 20px;
}
h2{
    color: #001445;
    margin: 15px 0 0 0;
}
section{
    border: 1px solid lightgray;
    width: 260px;
    justify-self: center;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 30px;
}
.profile-picture{
    display: inline-block;
    object-fit: cover;
    width: 110px;
    height: 140px;
    margin: 10px 0;
    
}
p{
    margin-bottom: 6px;
    text-transform: capitalize;
    
    
}
button, 
input{
    border-radius: 1px;
}